$primary-color: #B5292E;
$gray: #aaaaaa;
$font-family-bold: 'Balsamiq Sans', serif;
$redactAnim: 1s ease-out forwards;

body::before {
  content: '';
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('../images/bg.jpg');
  filter: brightness(.45) contrast(.8);
  background-size: cover;
  z-index: 0;
}
// HEADER SECTION
header {
  display: flex;
  padding: 10px 0;
  font-family: $font-family-bold;
  color: #fff;
  justify-content: center;
  padding-left: 517px;
  padding-bottom: 20px;

  .iconify {
    margin: 0 5px;
  }

  [data-icon*='youtube'] {
    background-color: #b03333;
    width: 45px;
    height: 45px;
    padding: 10px;
  }
  [data-icon*='facebook'] {
    background-color: #3b5998;
    width: 45px;
    height: 45px;
    padding: 10px;
  }
  [data-icon*='rss'] {
    background-color: #ee802f;
    width: 45px;
    height: 45px;
    padding: 10px;
  }
  [data-icon*='twitter'] {
    background-color: #00acee;
    width: 45px;
    height: 45px;
    padding: 10px;
  }
  .socials {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 30px;
    .text {
      margin-right: 10px;
      margin-top: 5px;
    }
  }
}
// --------------------------------------

// NAV SECTION
.nav {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: $font-family-bold;
  font-size: 14px;
  .col {
    padding: 0;
  }
  margin-bottom: 20px;
}



.navtext{
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  margin-left: 7px;
  padding: 10px 15px;
  background-color: $primary-color;
  position: relative;
  white-space: pre;
  color: #fff;


  &:after {
    background: #fff;
    border-radius: 0.1em;
    content: " ";
    width: 0%;
    height: 1.6em;
    left: 5px;
    position: absolute;
    transform: skewY(-5deg) rotate(5deg);
    transition: width .8s ease-out;
  }

  &:hover:after {
    width: 95%;
  }
}

.dash {
  padding: 0 10px;
  font-size: 18px;
}
// --------------------------------------

// SLIDESHOW SECTION
.higher {
  display: flex;
  justify-content: center;
}
.carousel {
  margin-left: -6px;
  width: 830px;
  height: 300px;
  background-color: $primary-color;
}

// ARTICLES
.articles {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 60px;
  margin-left: -7px;
  .col {
    padding: 0;
    display: flex;
  }
}

h3 {
  height: 90px;
  font-size: 18px;
  padding-bottom: 25px;
  border-bottom: 1px solid $gray;
}

.article-content {
  width: 270px;
  height: 340px;
  margin: 0 5px;
  padding: 30px;
  background-color: #fff;
  font-size: 10px;

  a {
    font-size: 14px;
    margin-left: 50px;
    color: $primary-color;
    font-family: $font-family-bold;
  }

  .time {
    font-style: italic;
    font-size: 14px;
    color: $gray;
  }

  p {
    padding-top: 10px;
  }
}
